In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://dpd48782:iLE6iN95ErXcyl1r@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb?security=SSL

'Connected: dpd48782@bludb'

## Problems
### Problem 1
#### Find the total number of crimes recorded in the CRIME table.

In [5]:
%%sql
select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(533,)]

### Problem 2: 
#### List community areas with per capita income less than 11000.

In [10]:
%%sql
SELECT community_area_name, per_capita_income FROM census_data
WHERE per_capita_income < 11000

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3: 
#### List all case numbers for crimes involving minors?

In [15]:
%%sql

SELECT case_number, description FROM chicago_crime_data 
WHERE description LIKE '%MINOR';

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4:
#### List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [20]:
%%sql
SELECT case_number, primary_type, description FROM chicago_crime_data
WHERE primary_type LIKE '%KIDNAPPING%' AND description LIKE '%CHILD%'

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5: 
#### What kind of crimes were recorded at schools?

In [21]:
%%sql
SELECT DISTINCT primary_type FROM chicago_crime_data
WHERE location_description LIKE '%SCHOOL%'

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6: 
#### List the average safety score for all types of schools.

In [39]:
%%sql 

SELECT distinct(elementary__middle__or_high_school), 
(select AVG(safety_score) AS AVERAGE_SAFETY_SCORE
FROM chicago_public_schools)
from chicago_public_schools

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 49)]

### Problem 7: 
#### List 5 community areas with highest % of households below poverty line.

In [49]:
%%sql

select community_area_name, percent_households_below_poverty 
from CENSUS_DATA 
order by percent_households_below_poverty desc limit 5;

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8: 
#### Which community area(number) is most crime prone?

In [74]:
%%sql

select community_area_number, count (*) AS Numbers_of_crime
from CHICAGO_CRIME_DATA 
group by community_area_number
order by Numbers_of_crime 
desc
limit 1
;

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(25, 43)]

### Problem 9: 
#### Use a sub-query to find the name of the community area with highest hardship index.

In [75]:
%%sql 
SELECT community_area_name, hardship_index 
FROM CENSUS_DATA 
WHERE hardship_index = (SELECT MAX(hardship_index) FROM CENSUS_DATA )

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('Riverdale', 98)]

### Problem 10:
#### Use a sub-query to determine the Community Area Name with most number of crimes?

In [78]:
%%sql

SELECT community_area_name, COUNT (*) AS NUMBER_OF_CRIMES 
FROM ( SELECT * FROM CENSUS_DATA  cd, CHICAGO_CRIME_DATA  cr
WHERE cd.community_area_number IN cr.community_area_number) 
GROUP BY community_area_name 
ORDER BY NUMBER_OF_CRIMES 
DESC LIMIT 1;

 * ibm_db_sa://dpd48782:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('Austin', 43)]